{% extends 'base.html.twig' %}

{% block title %}CaultPaysages | 
	Espace Administration
{% endblock %}

{% block body %}
	{% block content %}
		<section id="Admin-login" class="row-limit-size">

			<form method="post">
                
                    {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}

                    {% if app.user %}
                        <div class="mb-3">
                            Vous êtes déjà connecter. 
                           
                        </div>
                    {% endif %}
                
				<h1 class="h3 font-weight-normal">éspace administration pour continuer veuillez vous identifier</h1>
                <fieldset>
                    <div id="formulaire">
                        <div id="mail">
                            <label for="inputEmail">Mail</label>
                            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
                        </div>

                        <div id="pass">
                            <label for="inputPassword">Password</label>
                            <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
                        </div>
                        
                        

                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                    </div>
                    

                    <button class="btn btn-lg btn-primary" type="submit">
                        se connecter
                    </button>
                </fieldset>
				
			</form>

		</section>
	{% endblock %}

{% endblock %}
